<%= form_for recipe do |f| %>
  <% if  recipe.errors.any? %>
    <div id="error_explanation">
      <ul>
        <%  recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <div>
      <%= image_tag recipe.image, size: 50 if recipe.image%>
    </div>
    <%= f.file_field :uploaded_image %>
    <div>or</div>
    <%= f.text_field :image_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
