<%= form_with model: recipe, local: true do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :author, class: 'form-label' %>
    <%= f.text_field :author, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label "Bild auswählen", class: 'form-label' %>
    <div class="input-group">
      <%= f.file_field :uploaded_image, class: 'form-control' %>
    </div>
    <div>oder Bild-URL angeben</div>
    <%= f.text_field :image_url, class: 'form-control', placeholder: 'Bild URL' %>
  </div>


  <div class="mb-3">
    <%= f.label "Zutaten", class: 'form-label' %>
    <%= f.fields_for :ingredients do |ri| %>
      <%= render "ingredient_fields", f: ri %>
    <% end %>
    <%= link_to_add_fields "Zutaten hinzufügen", f, :ingredients %>
  </div>

  <div class="d-flex justify-content-between">
    <div class="btn-group">
      <%= link_to 'Zurück', root_path, class: 'btn btn-outline-secondary' %>
      <%= link_to "Ansehen", recipe_path(recipe) , class: 'btn btn-outline-secondary' unless recipe.new_record? %>
    </div>
    <%= f.submit "Speichern", class: 'btn btn-primary' %>
  </div>
<% end %>
