<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title).presence || "Rezeptbuch" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header>
      <div class="navbar navbar-expand-sm navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">
          <%= link_to root_path, class: 'navbar-brand' do %>
            <h1 class="mb-0">Rezeptbuch</h1>
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <%= link_to "Aktuelles", recent_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Kategorien", categories_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="container-lg pt-3 flex-grow-1">
      <%= yield %>
    </main>
    <footer class="footer py-3 border-top mt-3">
      <ul class="nav d-flex justify-content-center">
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link px-2 text-muted"%></li>
        <li class="nav-item"><%= link_to "Aktuelles", recent_path, class: "nav-link px-2 text-muted"%></li>
        <li class="nav-item"><%= link_to "Kategorien", categories_path, class: "nav-link px-2 text-muted"%></li>
        <li class="nav-item"><%= link_to "Impressum", imprint_path, class: "nav-link px-2 text-muted"%></li>
        <li class="nav-item"><%= link_to "Datenschutz", privacy_path, class: "nav-link px-2 text-muted"%></li>
      </ul>
    </footer>
  </body>
</html>
